{% block stylesheets %}
    <link href="{{ asset('css/styles.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
    <header>
        <ul>
            <li><a href="{{ path('app_show_parking') }}">Mostar</a></li>
            <li><a href="">Editar</a></li>
            <li><a href="{{ path('app_add_parking') }}">Agregar</a></li>
        </ul>
    </header>
    <div>
        <div>
            <h2> Visita </h2>
            {{ form_start(formulario_visita) }}
                {{ form_row(formulario_visita.coche) }}      
                {{ form_row(formulario_visita.plaza) }}
                {{ form_row(formulario_visita.estado) }}
                {{ form_row(formulario_visita.entrada) }}
                {{ form_row(formulario_visita.salida) }}
                <button class="btn btn-primary">Guardar Visita</button>
            {{ form_end(formulario_visita) }}
        </div>
        <div>
            <h2>Coche</h2>
            {{ form_start(formulario_coche) }}
                {{ form_row(formulario_coche.matricula) }}
                {{ form_row(formulario_coche.marca) }}
                {{ form_row(formulario_coche.modelo) }}
                {{ form_row(formulario_coche.color) }}
                <button class="btn btn-primary">Guardar Cambios</button>
            {{ form_end(formulario_coche) }}
        </div>
        <div>
            <h2>Plaza</h2>
            {{ form_start(formulario_plaza) }}
                {{ form_row(formulario_plaza.idPlaza) }}
                {{ form_row(formulario_plaza.tipo) }}
                <button class="btn btn-primary">Guardar Plaza</button>
            {{ form_end(formulario_plaza) }}
        </div>
        <div>
            <h2>Tipo de plazas</h2>
            {{ form_start(formulario_tipo) }}
                {{ form_row(formulario_tipo.idTipo) }}
                {{ form_row(formulario_tipo.nombre) }}
                {{ form_row(formulario_tipo.color) }}
                <button class="btn btn-primary">Guardar Tipo</button>
            {{ form_end(formulario_tipo) }}
        </div>
        <div>
            <h2>Lista de estados</h2>
            {{ form_start(formulario_estado) }}
                {{ form_row(formulario_estado.idEstado) }}
                {{ form_row(formulario_estado.nombre) }}
                <button class="btn btn-primary">Guardar Estado</button>
            {{ form_end(formulario_estado) }}
        </div>
    </div>
    <footer></footer>
{% endblock %}