{% block stylesheets %}
    <link href="{{ asset('css/styles.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
    <header>
        <ul>
            <li><a href="{{ path('app_show_parking') }}">Mostar</li>
            <li><a href="">Editar</li>
            <li><a href="">Agregar</li>
        </ul>
    </header>

    {{ form_start(formulario) }}
        {{ form_widget(formulario) }}
        <button type="submit" class="btn btn-primary">Guardar Cambios</button>
    {{ form_end(formulario) }}

    <a href="{{ path('app_modify_parking') }}">Volver</a>
{% endblock %}