{% block stylesheets %}
    <link href="{{ asset('css/styles.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
    <header>
        <ul>
            <li><a href="{{ path('app_show_parking') }}">Mostar</a></li>
            <li><a href="">Editar</a></li>
            <li><a href="">Agregar</a></li>
        </ul>
    </header>

    {{ form_start(formulario) }}
        {{ form_row(formulario.coche) }}      {# coche → choice_label = matrícula #}
        {{ form_row(formulario.plaza) }}
        {{ form_row(formulario.estado) }}
        {{ form_row(formulario.entrada) }}
        {{ form_row(formulario.salida) }}
        <button class="btn btn-primary">Guardar Visita</button>
    {{ form_end(formulario) }}

    <a href="{{ path('app_modify_parking') }}">Volver</a>
{% endblock %}