

{% block stylesheets %}
    <link href="{{ asset('css/styles.css') }}" rel="stylesheet" />
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/show_parking.js') }}" type="module">
    </script>
{% endblock %}

{% block body %}
    <header>
        <ul>
            <li><a href="">Mostar</a></li> <!-- ¡Falta cerrar </a> y tiene href vacío! -->
            <li><a href="{{ path('app_modify_parking')}}">Editar</a></li> <!-- Este enlace SÍ recargará -->
            <li><a href="{{ path('app_add_parking') }}">Agregar</a></li> <!-- Mismo problema -->
        </ul>
    </header>
    <div class="container">
        <div class="parking-container">
            <div class="parking-images">
                <img src="{{ asset('image/parking-overlay.png') }}" alt="" srcset="" class="image-base">
                <svg  viewBox="0 0 3600 2501" style="border: 1px solid transparent; margin: 0; padding: 0;"  xmlns="http://www.w3.org/2000/svg" class="image-overlay">
                    <rect width="151" height="72" x="760" y="910" fill="green" transform="rotate(-45 40 50)" data-id="1"  />
                        <rect width="151" height="72" x="960" y="1035" fill="green" transform="rotate(-45 53 219)" data-id="2"  />
                        <rect width="151" height="72" x="1160" y="1160" fill="green" transform="rotate(-45 66 388)" data-id="3"  />
                        <rect width="151" height="72" x="1360" y="1284" fill="green" transform="rotate(-45 79 557)" data-id="4"  />
                        <rect width="151" height="72" x="1560" y="1409" fill="green" transform="rotate(-45 99 736)" data-id="5"  />
                        <rect width="151" height="72" x="1760" y="1534" fill="green" transform="rotate(-45 119 915)" data-id="6"  />
                        <rect width="151" height="72" x="1960" y="1655" fill="green" transform="rotate(-45 133 1080)" data-id="7"  />
                        <rect width="151" height="72" x="2160" y="1776" fill="green" transform="rotate(-45 156 1260)" data-id="8"  />
                        <rect width="151" height="72" x="2360" y="1895" fill="green" transform="rotate(-45 179 1435)" data-id="9"  />
                        <rect width="151" height="72" x="2560" y="2016" fill="green" transform="rotate(-45 202 1605)" data-id="10"  />
                        <rect width="151" height="72" x="2760" y="2130" fill="green" transform="rotate(-45 228 1770)" data-id="11"  />
                        <rect width="151" height="72" x="2960" y="2248" fill="green" transform="rotate(-45 248 1945)" data-id="12"  />
                        <rect width="151" height="72" x="3160" y="2368" fill="green" transform="rotate(-45 271 2115)" data-id="13"  />
                        <rect width="151" height="72" x="3360" y="2488" fill="green" transform="rotate(-45 294 2285)" data-id="14"  />
                        <rect width="151" height="72" x="3560" y="2608" fill="green" transform="rotate(-45 317 2455)" data-id="15"  />
                        <rect width="151" height="72" x="3760" y="2728" fill="green" transform="rotate(-45 340 2625)" data-id="16"  />
                        <rect width="151" height="72" x="3960" y="2844" fill="green" transform="rotate(-45 363 2795)" data-id="17"  />
                        <rect width="151" height="72" x="4173" y="2974" fill="lime" transform="rotate(-45 383 2990)" data-id="18"  />
                            <rect width="151" height="72" x="4373" y="3094" fill="lime" transform="rotate(-45 403 3160)" data-id="19"  />
                            <rect width="151" height="72" x="4573" y="3214" fill="lime" transform="rotate(-45 423 3330)" data-id="20"  />
                            <rect width="151" height="72" x="4769" y="3334" fill="lime" transform="rotate(-45 443 3501)" data-id="21"  />

                    <rect width="151" height="72" x="500" y="30" fill="green" transform="rotate(45 166 217)" data-id="22"  />
                        <rect width="151" height="72" x="600" y="30" fill="green" transform="rotate(45 275 230)" data-id="23"  />
                        <rect width="151" height="72" x="700" y="30" fill="green" transform="rotate(45 384 243)" data-id="24"  />
                        <rect width="151" height="72" x="800" y="30" fill="green" transform="rotate(45 490 255)" data-id="25"  />
                        <rect width="151" height="72" x="900" y="30" fill="green" transform="rotate(45 590 270)" data-id="26"  />
                        <rect width="151" height="72" x="1000" y="30" fill="green" transform="rotate(45 694 285)" data-id="27"  />
                        <rect width="151" height="72" x="1100" y="30" fill="green" transform="rotate(45 799 298)" data-id="28"  />
                        <rect width="151" height="72" x="1200" y="30" fill="green" transform="rotate(45 905 310)" data-id="29"  />
                        <rect width="151" height="72" x="1300" y="30" fill="green" transform="rotate(45 1010 325)" data-id="30"  />
                        <rect width="151" height="72" x="1400" y="30" fill="green" transform="rotate(45 1115 340)" data-id="31"  />

                    <rect width="151" height="72" x="1652" y="407" fill="green" data-id="32"  />
                        <rect width="151" height="72" x="1811" y="407" fill="green" data-id="33"  />
                        <rect width="151" height="72" x="1968" y="407" fill="green" data-id="34"  />
                        <rect width="151" height="72" x="2123" y="407" fill="green" data-id="35"  />
                        <rect width="151" height="72" x="2282" y="407" fill="green" data-id="36"  />
                        <rect width="151" height="72" x="2439" y="407" fill="green" data-id="37"  />

                    <rect width="151" height="72" x="2627" y="643" fill="cyan" data-id="38"  />
                        <rect width="151" height="72" x="2627" y="722" fill="cyan" data-id="39"  />
                        <rect width="151" height="72" x="2627" y="800" fill="cyan" data-id="40"  />
                        <rect width="151" height="72" x="2627" y="878" fill="cyan" data-id="41"  />

                        <rect width="151" height="72" x="2627" y="1123" fill="cyan" data-id="42"  />
                            <rect width="151" height="72" x="2627" y="1204" fill="cyan" data-id="43"  />
                            <rect width="151" height="72" x="2627" y="1282" fill="cyan" data-id="44"  />
                            <rect width="151" height="72" x="2627" y="1362" fill="cyan" data-id="45"  />
                            <rect width="151" height="72" x="2627" y="1440" fill="cyan" data-id="46"  />
                            <rect width="151" height="72" x="2627" y="1518" fill="cyan" data-id="47"  />

                        <rect width="167" height="76" x="2627" y="1750" fill="red" data-id="48"  />
                            <rect width="167" height="76" x="2627" y="1830" fill="red" data-id="49"  />
                            <rect width="167" height="76" x="2627" y="1908" fill="red" data-id="50"  />
                            <rect width="167" height="76" x="2627" y="1986" fill="red" data-id="51"  />
                            <rect width="167" height="76" x="2627" y="2064" fill="red" data-id="52"  />

                            <rect width="153" height="76" x="2632" y="2300" fill="red" data-id="53"  />

                    <rect width="151" height="72" x="2949" y="544" fill="green" data-id="54"  /> <rect width="151" height="72" x="3107" y="544" fill="green" data-id="79"   /> 
                        <rect width="151" height="72" x="2949" y="622" fill="green" data-id="55"  /> <rect width="151" height="72" x="3107" y="622" fill="green" data-id="80"  /> 
                        <rect width="151" height="72" x="2949" y="700" fill="green" data-id="56"  /> <rect width="151" height="72" x="3107" y="700" fill="green" data-id="81"  />
                        <rect width="151" height="72" x="2949" y="778" fill="green" data-id="57"  /> <rect width="151" height="72" x="3107" y="778" fill="green" data-id="82"  />
                            <rect width="151" height="72" x="2949" y="856" fill="blue" data-id="58"  /> <rect width="151" height="72" x="3107" y="856" fill="blue" data-id="83"  />
                            <rect width="151" height="72" x="2949" y="935" fill="blue" data-id="59"  /> <rect width="151" height="72" x="3107" y="935" fill="blue" data-id="84"  />
                            <rect width="151" height="72" x="2949" y="1014" fill="blue" data-id="60"  /> <rect width="151" height="72" x="3107" y="1014" fill="blue" data-id="85"  />
                            <rect width="151" height="72" x="2949" y="1093" fill="blue" data-id="61"  /> <rect width="151" height="72" x="3107" y="1093" fill="blue" data-id="86"  />
                            <rect width="151" height="72" x="2949" y="1172" fill="blue" data-id="62"  /> <rect width="151" height="72" x="3107" y="1172" fill="blue" data-id="87"  />
                            <rect width="151" height="72" x="2949" y="1251" fill="blue" data-id="67"  /> <rect width="151" height="72" x="3107" y="1251" fill="blue" data-id="88"  />
                            <rect width="151" height="72" x="2949" y="1330" fill="blue" data-id="68"  /> <rect width="151" height="72" x="3107" y="1330" fill="blue" data-id="89"  />
                            <rect width="151" height="72" x="2949" y="1408" fill="blue" data-id="69"  /> <rect width="151" height="72" x="3107" y="1408" fill="blue" data-id="90"  />
                            <rect width="151" height="72" x="2949" y="1487" fill="blue" data-id="70"  /> <rect width="151" height="72" x="3107" y="1487" fill="blue" data-id="91"  />
                            <rect width="151" height="72" x="2949" y="1566" fill="blue" data-id="71"  /> <rect width="151" height="72" x="3107" y="1566" fill="blue" data-id="92"  />
                            <rect width="151" height="72" x="2949" y="1645" fill="blue" data-id="72"  /> <rect width="151" height="72" x="3107" y="1645" fill="blue" data-id="93"  />
                            <rect width="151" height="72" x="2949" y="1724" fill="blue" data-id="73"  /> <rect width="151" height="72" x="3107" y="1724" fill="blue" data-id="94"  />
                            <rect width="151" height="72" x="2949" y="1802" fill="blue" data-id="74"  /> <rect width="151" height="72" x="3107" y="1802" fill="blue" data-id="95"  />
                            <rect width="151" height="72" x="2949" y="1881" fill="blue" data-id="75"  /> <rect width="151" height="72" x="3107" y="1881" fill="blue" data-id="96"  />
                        <rect width="151" height="72" x="2949" y="1959" fill="cyan" data-id="76"  /> <rect width="151" height="72" x="3107" y="1959" fill="cyan" data-id="97"  />
                            <rect width="151" height="72" x="2949" y="2038" fill="cyan" data-id="77"  /> <rect width="151" height="72" x="3107" y="2038" fill="cyan" data-id="98"  />
                            <rect width="151" height="72" x="2949" y="2117" fill="cyan" data-id="78"  /> <rect width="151" height="72" x="3107" y="2117" fill="cyan" data-id="99"  />

                    <rect width="150" height="74" x="3431" y="380" fill="lime" data-id="100"  /> 
                        <rect width="150" height="74" x="3431" y="460" fill="lime" data-id="101"  /> 
                        <rect width="150" height="74" x="3431" y="539" fill="blue" data-id="102"  /> 
                            <rect width="150" height="74" x="3431" y="617" fill="blue" data-id="103"  /> 
                            <rect width="150" height="74" x="3431" y="695" fill="blue" data-id="104"  /> 
                            <rect width="150" height="74" x="3431" y="773" fill="blue" data-id="105"  />
                            <rect width="150" height="74" x="3431" y="851" fill="blue" data-id="106"  />
                        <rect width="150" height="74" x="3431" y="931" fill="yellow" data-id="107"  />
                            <rect width="150" height="74" x="3431" y="1010" fill="yellow" data-id="108"  />
                            <rect width="150" height="74" x="3431" y="1089" fill="yellow" data-id="109"  />
                            <rect width="150" height="74" x="3431" y="1167" fill="yellow" data-id="110"  />
                            <rect width="150" height="74" x="3431" y="1245" fill="yellow" data-id="111"  />
                            <rect width="150" height="74" x="3431" y="1325" fill="yellow" data-id="112"  />
                            <rect width="150" height="74" x="3431" y="1404" fill="yellow" data-id="113"  />
                            <rect width="150" height="74" x="3431" y="1482" fill="yellow" data-id="114"  />
                            <rect width="150" height="74" x="3431" y="1561" fill="yellow" data-id="115"  />
                            <rect width="150" height="74" x="3431" y="1640" fill="yellow" data-id="116"  />
                            <rect width="150" height="74" x="3431" y="1719" fill="yellow" data-id="117"  />
                            <rect width="150" height="74" x="3431" y="1798" fill="yellow" data-id="118"  />
                            <rect width="150" height="74" x="3431" y="1876" fill="yellow" data-id="119"  />
                            <rect width="150" height="74" x="3431" y="1954" fill="yellow" data-id="120"  />
                            <rect width="150" height="74" x="3431" y="2034" fill="yellow" data-id="121"  />
                            <rect width="150" height="74" x="3431" y="2112" fill="yellow" data-id="122"  />
                            <rect width="150" height="74" x="3431" y="2190" fill="yellow" data-id="123"  />
                            <rect width="150" height="50" x="3431" y="2268" fill="yellow" data-id="124"  />

                    <rect width="1870" height="94" x="0" y="2405" fill="green" data-id="125"  /> 
                        <rect width="950" height="94" x="1870" y="2405" fill="blue" data-id="126"  /> 
                        <rect width="475" height="114" x="2820" y="2385" fill="cyan" data-id="127"  /> 
                </svg>
                <div id="info-panel" class="info-panel-parking" >
                    <form action="/ShowParking/modifyVisit" id="visita-form" method="post">
                        <label for="plaza-id">Plaza :</label>
                        <input type="text" id="plaza-id" name="plaza" readonly><br>
                        <label for="matricula-id">Matrícula:</label>
                        <input type="text" id="matricula" name="matricula"><br>
                            <div id="result" tabindex="0" class="div-result">
                                {% set NumMactricula = 0 %}
                                {% for coche in matriculas %}
                                    {% set NumMactricula = NumMactricula + 1 %}
                                    <p num="{{NumMactricula}}">{{ coche.matricula }}</p>
                                {% endfor %}
                            </div>
                        <label for="estado">Estado:</label>
                        <select id="estado" name="estado">
                            <option value="">Selecciona un estado</option>
                            {% for estado in estados %}
                                <option value="{{ estado.IdEstado }}">{{ estado.Nombre }}</option>
                            {% endfor %}
                        </select><br>
                        <label for="entrada">Entrada:</label>
                        <input type="text" id="entrada" name="entrada" readonly><br>
                        <button type="submit">Entrar</button>
                        <button type="button" id="delete-button">Salir</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="legend">
            {% for tipos in types %}
                <div style="display: flex; align-items: center; margin: 10px;">
                    <div style="width: 50px; height: 50px; background-color: {{ tipos.Color }}; margin-right: 10px;"></div>
                    <div>{{ tipos.nombre }}</div>
                </div>
            {% endfor %}
            <button onclick="mostrarFormulario('crear')">➕ Añadir Tipo</button>
            <button onclick="mostrarFormulario('modificar')">✏️ Modificar Tipo</button>
        </div>
        <!-- Formulario crear tipo -->
                <div id="form-crear" style="display:none;">
                    <h3>Crear Tipo</h3>
                    <h4>Nombre del nuevo tipo</h4>
                    <input type="text" id="crear-nombre" placeholder="Nombre" /><br>
                    <h4>Color del nuevo tipo</h4>
                    <input type="color" id="crear-color" class="input-color" /><br>
                    <button onclick="enviarFormulario('crear')">Crear</button>
                </div>

                <!-- Formulario modificar tipo -->
                <div id="form-modificar" style="display:none;">
                    <h3>Modificar Tipo</h3>
                    <h4>Selecciona el tipo a modificar</h4>
                    <select id="modificar-id">
                        {% for tipo in types %}
                            <option value="{{ tipo.idTipo }}">{{ tipo.nombre }}</option>
                        {% endfor %}
                    </select><br>
                    <h4>Nuevo nombre</h4>
                    <input type="text" id="modificar-nombre" placeholder="Nuevo Nombre" />
                    <h4>Nuevo color (en #hexagizimal)</h4>
                    <input type="color" id="modificar-color" class="input-color" /><br>
                    <button onclick="enviarFormulario('modificar')">Modificar</button>
                </div>
    </div>
    <footer></footer>


{% endblock %}
