

{% block stylesheets %}
    <link href="{{ asset('css/styles.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
    <header>
        <ul>
            <li><a href="">Mostar</a></li> <!-- ¡Falta cerrar </a> y tiene href vacío! -->
            <li><a href="{{ path('app_modify_parking')}}">Editar</a></li> <!-- Este enlace SÍ recargará -->
            <li><a href="{{ path('app_add_parking') }}">Agregar</a></li> <!-- Mismo problema -->
        </ul>
    </header>
    <div class="container">
        <div class="parking-container">
            {% for plaza in parkings %}
                <div class="parking-item" style="margin: 5px; padding: 10px; background-color: {{ plaza.Tipo.Color }};">
                    ID Plaza: {{ plaza.IdPlaza }}

                    {% if matriculas[plaza.IdPlaza] is defined %}
            <br>Matrícula: {{ matriculas[plaza.IdPlaza] }}
        {% else %}
            <br>Matrícula: <em>No asignada</em>
        {% endif %}
                </div>
            {% else %}
                <p>No hay plazas registradas.</p>
            {% endfor %}
        </div>
        <div class="legend">
            {% for tipos in types %}
                <div style="display: flex; align-items: center; margin: 10px;">
                    <div style="width: 50px; height: 50px; background-color: {{ tipos.Color }}; margin-right: 10px;"></div>
                    <div>{{ tipos.nombre }}</div>
                </div>
            {% endfor %}
        </div>
    </div>
    <footer></footer>


{% endblock %}
