{% block stylesheets %}
    <link href="{{ asset('css/styles.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
    <header>
    <br>
            <a href="{{ path('app_show_parking') }}"> <-Volver</a>
    </header>
    <div>
        <div>
            <h2>Coche</h2>
            {{ form_start(formulario_coche) }}
                {{ form_row(formulario_coche.matricula) }}
                {{ form_row(formulario_coche.marca) }}
                {{ form_row(formulario_coche.modelo) }}
                {{ form_row(formulario_coche.color) }}
                <button class="btn btn-primary">Registrar Coche</button>
            {{ form_end(formulario_coche) }}
        </div>
    </div>
    <footer></footer>
{% endblock %}
